In [1]:
import os 
import pandas as pd 
import numpy as np
import datetime as dt

In [2]:
# load raw data 
raw_data = os.path.join('Resources', 'ASA_All_NBA_Raw_Data_copy.csv')

In [3]:
# read raw data
read_raw_data = pd.read_csv(raw_data)
read_raw_data.head()

,game_id,game_date,Team_Abbrev,Team_Score,Inactives,Opponent_Abbrev,Opponent_Score,player,player_id,mp,trb,ast,pts,plus_minus,did_not_play,is_inactive,usg_pct,season,minutes
0,202012220BRK,12/22/20,GSW,99,"Draymond Green, Nico Mannion, Alen Smailagic, ...",BRK,125,Andrew Wiggins,wiggian01,31:14:00,2,1,13,-28,0,0,26.3,2021,31.233333
1,202012220BRK,12/22/20,GSW,99,"Draymond Green, Nico Mannion, Alen Smailagic, ...",BRK,125,Stephen Curry,curryst01,30:19:00,4,10,20,-23,0,0,32.1,2021,30.316667
2,202012220BRK,12/22/20,GSW,99,"Draymond Green, Nico Mannion, Alen Smailagic, ...",BRK,125,Kelly Oubre,oubreke01,25:39:00,7,2,6,-28,0,0,25.0,2021,25.650000
3,202012220BRK,12/22/20,GSW,99,"Draymond Green, Nico Mannion, Alen Smailagic, ...",BRK,125,James Wiseman,wisemja01,24:17:00,6,0,19,-10,0,0,27.2,2021,24.283333
4,202012220BRK,12/22/20,GSW,99,"Draymond Green, Nico Mannion, Alen Smailagic, ...",BRK,125,Eric Paschall,pascher01,21:33,1,0,6,-28,0,0,12.1,2021,21.550000

In [4]:
# store the data inside a variable for processing
raw_analysis = read_raw_data

In [5]:
raw_analysis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42118 entries, 0 to 42117
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   game_id          42118 non-null  object
 1   game_date        42118 non-null  object
 2   Team_Abbrev      42118 non-null  object
 3   Team_Score       42118 non-null  int64
 4   Inactives        42091 non-null  object
 5   Opponent_Abbrev  42118 non-null  object
 6   Opponent_Score   42118 non-null  int64
 7   player           42118 non-null  object
 8   player_id        42118 non-null  object
 9   mp               42118 non-null  object
 10  trb              42118 non-null  int64
 11  ast              42118 non-null  int64
 12  pts              42118 non-null  int64
 13  plus_minus       42118 non-null  int64
 14  did_not_play     42118 non-null  int64
 15  is_inactive      42118 non-null  int64
 16  usg_pct          42118 non-null  float64
 17  season           42118 non-null  int64
 18  minutes          42118 non-null  float64
dtypes: float64(2), int64(9), object(8)
memory usage: 6.1+ MB

In [6]:
# change data types 
'''
game date to date time

mp or minutes played to minutes 


'''

'\ngame date to date time\n\nmp or minutes played to minutes \n\n\n'

In [7]:
raw_analysis['game_date'] = raw_analysis['game_date'].astype('datetime64[ns]')

In [8]:
raw_analysis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42118 entries, 0 to 42117
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   game_id          42118 non-null  object
 1   game_date        42118 non-null  datetime64[ns]
 2   Team_Abbrev      42118 non-null  object
 3   Team_Score       42118 non-null  int64
 4   Inactives        42091 non-null  object
 5   Opponent_Abbrev  42118 non-null  object
 6   Opponent_Score   42118 non-null  int64
 7   player           42118 non-null  object
 8   player_id        42118 non-null  object
 9   mp               42118 non-null  object
 10  trb              42118 non-null  int64
 11  ast              42118 non-null  int64
 12  pts              42118 non-null  int64
 13  plus_minus       42118 non-null  int64
 14  did_not_play     42118 non-null  int64
 15  is_inactive      42118 non-null  int64
 16  usg_pct          42118 non-null  float64
 17  season           42118 non-null  int64
 18  minutes          42118 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(9), object(7)
memory usage: 6.1+ MB

In [9]:
# split mp or minutes played to convert into minutes 
mp = raw_analysis['mp'].str.split(':', expand=True)

In [10]:
mp.head()

    0   1     2
0  31  14    00
1  30  19    00
2  25  39    00
3  24  17    00
4  21  33  None

In [11]:
mp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42118 entries, 0 to 42117
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       42118 non-null  object
 1   1       42118 non-null  object
 2   2       16662 non-null  object
dtypes: object(3)
memory usage: 987.3+ KB

In [12]:
mp = mp.drop(columns=2)

In [13]:
mp.head()

    0   1
0  31  14
1  30  19
2  25  39
3  24  17
4  21  33

In [14]:
mp["min"] = mp[0].map(str) + ':' + mp[1].map(str)

In [15]:
mp = mp.drop(columns=0)

In [16]:
mp = mp.drop(columns=1)

In [17]:
raw_analysis['mp'] = mp['min']

In [18]:
raw_analysis.head(2)

,game_id,game_date,Team_Abbrev,Team_Score,Inactives,Opponent_Abbrev,Opponent_Score,player,player_id,mp,trb,ast,pts,plus_minus,did_not_play,is_inactive,usg_pct,season,minutes
0,202012220BRK,2020-12-22,GSW,99,"Draymond Green, Nico Mannion, Alen Smailagic, ...",BRK,125,Andrew Wiggins,wiggian01,31:14,2,1,13,-28,0,0,26.3,2021,31.233333
1,202012220BRK,2020-12-22,GSW,99,"Draymond Green, Nico Mannion, Alen Smailagic, ...",BRK,125,Stephen Curry,curryst01,30:19,4,10,20,-23,0,0,32.1,2021,30.316667

In [19]:
raw_analysis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42118 entries, 0 to 42117
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   game_id          42118 non-null  object
 1   game_date        42118 non-null  datetime64[ns]
 2   Team_Abbrev      42118 non-null  object
 3   Team_Score       42118 non-null  int64
 4   Inactives        42091 non-null  object
 5   Opponent_Abbrev  42118 non-null  object
 6   Opponent_Score   42118 non-null  int64
 7   player           42118 non-null  object
 8   player_id        42118 non-null  object
 9   mp               42118 non-null  object
 10  trb              42118 non-null  int64
 11  ast              42118 non-null  int64
 12  pts              42118 non-null  int64
 13  plus_minus       42118 non-null  int64
 14  did_not_play     42118 non-null  int64
 15  is_inactive      42118 non-null  int64
 16  usg_pct          42118 non-null  float64
 17  season           42118 non-null  int64
 18  minutes          42118 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(9), object(7)
memory usage: 6.1+ MB

In [20]:
# raw_analysis['mp'] = pd.to_datetime(raw_analysis["mp"].dt.strftime('%M:%S'))

In [21]:
raw_analysis['mp']=pd.to_datetime(raw_analysis['mp'],format='%M:%S').dt.time

In [22]:
# raw_data_df = pd.DataFrame(raw_analysis).set_index(['game_id', 'game_date'])

In [23]:
raw_data_df = raw_analysis.groupby('game_id')

In [24]:
raw_data_df

In [25]:
# d = raw_data_df.groupby('game_id')

In [26]:
# d

In [27]:
# for game_id, game_df in d:
# #     print(game_id)
#     print()
#     print(game_df)
#     print()

In [28]:
# for game_id, game_df in raw_data_df:
# #     print(game_id)
#     print()
#     print(game_df)
#     print()

In [29]:
# raw_analysis.to_csv('raw_data.csv')

In [30]:
raw_analysis.drop_duplicates(keep='last',inplace=True)

In [33]:
raw_analysis.to_csv('Resources/raw_data.csv')

In [ ]:
# raw_analysis.set_index(['game_id', 'game_date'])